
$black: #000000;
$white: #ffffff;
$grey-dark: #212121;
$padding-l: 1.4rem;
$padding-s: 0.8rem;
$font-size-m: 0.9rem;
$box-shadow-dark: 0rem 0.2rem 0.3rem rgba($black, 0.8);

button {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $box-shadow-dark;
  background-color: $grey-dark;
  color: $white;
  font-size: $font-size-m;
  padding-left: $padding-l;
  padding-right: $padding-l;
  padding-top: $padding-s;
  padding-bottom: $padding-s;
}
